---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/hero.css" %}{% endcss %}
<div class="hero-container">
  <div class="hero-image">
      <!-- <img src="https://github.com/itsfloki/images/blob/main/abhijit_new.png?raw=true" alt="Abhijit"> -->
      <img src="/avatar.jpeg" alt="Abhijit">
  </div>

  <div class="hero-description">
    <p>Hello there! I'm Abhijit, a low-level programmer.</p>

    <ul class="hero-socials">
      <li><a href="https://github.com/thexeromin" target="_blank">Github</a></li>
      <li><a href="https://www.linkedin.com/in/thexeromin" target="_blank">LinkedIn</a></li>
      <li><a href="mailto:thexeromin@gmail.com" target="_blank">Email</a></li>
    </ul>
  </div>
</div>
<!-- Stop deleting -->

{{ content | safe }}
